<section{% if section_id %} id="{{ section_id }}"{% endif %} class="{{ section_classes }}"{% if section_style %} style="{{ section_style }}"{% endif %}>
	<div class="container">
    <div class="block-hero-banner__inner">
		  <h2 class="block-hero-banner__title">{{ fields['hero_banner_title'] ?: 'Hero Banner' }}</h2>

		  {% if fields['hero_banner_content'] %}
			  <div class="block-hero-banner__content">
				  {{ fields['hero_banner_content']|wpautop }}
			  </div>
		  {% elseif is_preview %}
			  <p class="block-hero-banner__placeholder">Add fields for the hero-banner block in ACF.</p>
		  {% endif %}

      {% if fields['hero_banner_link'] %}
        {% include 'components/button.twig' with {
          link: fields['hero_banner_link'],
          class: 'block-hero-banner__button'
        } only %}
      {% endif %}
    </div>
	</div>
</section>
